h3{
    text-align: center;
    font-size: 2em;
    text-decoration:underline;
    color: #0066FF;
    margin-top: 0.3em;
}
.featured{
    background: rgb(0,102,255);
    background: linear-gradient(180deg, rgba(0,102,255,0.17440479609812676) 0%, rgba(0,102,255,0.5329482134650736) 100%);
    padding-bottom: 2em;
    display: flexbox;
    text-align: center;
    align-items: center;
    p{
        padding-top: 1em;
        font-size: 2em;
        color: #0066FF;
        font-weight: lighter;
        &:hover{
            text-decoration: underline;
        }
    }
    .desc{
        padding: 2em;
        &:hover{
            font-size: larger;
        }
    }
    .projects{
        display: block;
        width: 90%;
        margin: auto;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.288);
        &:hover{
            width: 100%;
        }
    }
}
