<div class="nav-container">
  <header>
      <a href="" routerLink="/" class="logo">AYUSH VYAS</a>
      <nav>
          <ul class="navs">
              <li><a href="" routerLink="/About-Me">About Me</a></li>
              <li><a href="" routerLink="/My-Projects">My Projects</a></li>
              <li><a href="" routerLink="/My-Skills">My Skills</a></li>
          </ul>
      </nav>
  </header>
  <div class="social-header">
      <ul>
          <li><a href=""><img src="../assets/iconfinder_1_Linkedin_unofficial_colored_svg_5296501.png" alt="Linkedin"></a></li>
          <li><a href=""><img src="../assets/iconfinder_1_Twitter3_colored_svg_5296516.png" alt="Twitter"></a></li>
          <li><a href=""><img src="../assets/iconfinder_1_Instagram_colored_svg_1_5296765.png" alt="Instagram"></a></li>
      </ul>
  </div>
</div>
<router-outlet></router-outlet>