/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;600&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-container{
    background-color: #0066FF;
    a{
        color: white;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        font-size: 1em;
        .logo{
            color: #63F5FF;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
            }
        }
            ul{
                display: flex;
                li{
                    font-weight: 300;
                    display: block;
                    padding: 0 0.6em;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
    }
}

.social-header,.design{
    display: none;
}




@media only screen and (min-width: 750px){
    .logo,.navs,.explore{
        font-size: 1.6em;
    }
    .navigations{
        font-size: 3em;
    }
    .welcome{
        font-size: 3em;
    }
}

@media only screen and (min-width: 1000px){
    
}