<div class="hero" #hero>
    <div class="content">
        <h1 class="welcome">WELCOME TO MY WORLD</h1>
        <div class="myimage"></div>
        <img src="assets/images/resume.jpg" alt="" class="mypic">
    </div>

    <button class="explore" (click)="getSocials()">EXPLORE</button>
    <div class="full" id="overlay">
    <div class="popsocials">
        <ul>
            <li>
               <a href="" target="blank"> <img class="socialicon 1" src="../../assets/images/linkedin.png" alt=""> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ayushvyasforreal/" target="blank"><img class="socialicon 2" src="../../assets/images/instagram.png" alt=""></a>
            </li>
            <li>
                <a href=""><img class="socialicon 3" src="../../assets/images/twitter.png" alt=""></a>
            </li>
        </ul>
        <button class="close" (click)="closeSocials()">Close</button>
    </div>
</div>
    <svg class="design" id="Component_1_1" data-name="Component 1 – 1" xmlns="http://www.w3.org/2000/svg"
        width="523.805" height="1031.455" viewBox="0 0 523.805 1031.455">
        <path id="Rectangle_5" data-name="Rectangle 5"
            d="M200,0H509a0,0,0,0,1,0,0V315A200,200,0,0,1,309,515H0a0,0,0,0,1,0,0V200A200,200,0,0,1,200,0Z"
            transform="translate(7.403)" fill="#63f5ff" />
        <path id="Rectangle_6" data-name="Rectangle 6"
            d="M200,0H509a0,0,0,0,1,0,0V315A200,200,0,0,1,309,515H0a0,0,0,0,1,0,0V200A200,200,0,0,1,200,0Z"
            transform="matrix(-0.017, 1, -1, -0.017, 523.805, 522.533)" fill="#63f5ff" />
    </svg>
</div>

<div class="newdiv" #clickables>
<section class="clickables" >
    <a href="" class="navigations" routerLink="/About-Me">
        <p>ABOUT ME</p>
    </a>
    <a href="" class="navigations" routerLink="/My-Projects">
        <p>MY PROJECTS</p>
    </a>
    <a href="" class="navigations" routerLink="/My-Skills">
        <p>MY SKILLS</p>
    </a>
</section>
</div>
<div class="footer" #footer>
    <div class="contactme">CONTACT ME</div>
    <div class="details">+91 9079883270 | ayush.vyas.india@gmail.com</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
    integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ=="
    crossorigin="anonymous"></script>